In [7]:
#Loading the data#

import pandas as pd

fake = pd.read_csv("../data/Fake.csv")
true = pd.read_csv("../data/True.csv")

print("Fake shape:", fake.shape)
print("True shape:", true.shape)

fake.head()
true.head()

fake["label"] = 0  # fake
true["label"] = 1  # true

df = pd.concat([fake, true], ignore_index=True)

print(df.shape)
df.head()

Fake shape: (23481, 4)
True shape: (21417, 4)
(44898, 5)

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [8]:
#Cleaning the data
df["text_all"] = (
    df["title"].fillna("") + "\n\n" + df["text"].fillna("")
).str.strip()

#Test
df[["title", "text", "text_all"]].head(2)

,title,text,text_all
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,Donald Trump Sends Out Embarrassing New Year’s...
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,Drunk Bragging Trump Staffer Started Russian C...

In [9]:
#Dataset check#

#No of rows
print("Total rows:", df.shape[0])
print(df['label'].value_counts())
print(df['label'].value_counts(normalize=True))  # %

#characters per news
df["n_chars"] = df["text_all"].str.len()
df["n_words"] = df["text_all"].str.split().str.len()

print(df[["n_chars","n_words"]].describe())

#test one fake and one true
df[df["label"]==0].sample(1, random_state=1)[["title","text"]]
df[df["label"]==1].sample(1, random_state=2)[["title","text"]]

#check for sth missing
df.isna().sum()

Total rows: 44898
label
0    23481
1    21417
Name: count, dtype: int64
label
0    0.522985
1    0.477015
Name: proportion, dtype: float64
            n_chars       n_words
count  44898.000000  44898.000000
mean    2550.194062    417.735757
std     2172.647543    351.480777
min       29.000000      2.000000
25%     1318.000000    216.000000
50%     2269.000000    375.000000
75%     3189.000000    526.000000
max    51894.000000   8148.000000

title       0
text        0
subject     0
date        0
label       0
text_all    0
n_chars     0
n_words     0
dtype: int64